---
- name: Configure MongoDB
  hosts: db
  tags: db-tag
  become: true
  vars:
    mongo_bind_ip: 0.0.0.0
  tasks:
    - name: Change mongo config file
      template:
        src: templates/mongod.conf.j2
        dest: /etc/mongod.conf
        mode: 0644
      notify: restart mongod

  handlers:
    - name: restart mongod
      service: name=mongod state=restarted

- name: Configure App
  hosts: app
  tags: app-tag
  become: true
  vars:
    db_host: 10.132.0.2
  tasks:
    - name: Add unit file for Puma
      copy:
        src: files/puma.service
        dest: /etc/systemd/system/puma.service
      notify: reload puma

    - name: Add config for DB connection
      template:
        src: templates/db_config.j2
        dest: /home/appuser/db_config
        owner: appuser
        group: appuser

    - name: enable puma
      systemd: name=puma enabled=yes

  handlers:
    - name: reload puma
      systemd: name=puma state=restarted

- name: Deploy App
  hosts: app
  tags: deploy-tag
  become: true
  vars:
    app_repo_url: https://github.com/express42/reddit.git
    app_version: monolith
    app_dest: /home/appuser/reddit
  tasks:
    - name: Fetch the latest version of application code
      git:
        repo: "{{ app_repo_url }}"
        dest: "{{ app_dest }}"
        version: "{{ app_version }}"
      notify: reload puma
      tags:
        - deploy-tag

    - name: Bundle install
      bundler:
        state: present
        chdir: "{{ app_dest }}"
      tags:
        - deploy-tag

  handlers:
    - name: reload puma
      systemd: name=puma state=restarted
